---
import DocsHome from '../../content/docs/index.mdx';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Akia React Docs</title>
  </head>
  <body>
    <main>
      <h1>Documentation</h1>
      <nav>
        <ul>
          <li><a href="/docs/packages/livecode">LiveCode package</a></li>
          <li><a href="/docs/packages/ai-markdown">AI Markdown package</a></li>
        </ul>
      </nav>
      <DocsHome />
    </main>
  </body>
</html>
